@model CommentsVM
           
@{
    ViewBag.Title = "Home";
}

<div style="padding: 15px">

    <h2>Say Hi</h2>

    <br />

    @using (Html.BeginForm("Create", "Home"))
    {
        @Html.ValidationSummary(true)
    
        <span>Drop me a line below:</span><br />
    
        @Html.TextAreaFor(x => x.Comment.Data, 4, 40, null)
        @Html.ValidationMessageFor(x => x.Comment.Data)
        <br />
    
        <input type="submit" value="submit"  />
    }

    <br />

    @if (Model.Comments.Any())
    {

    <table>
    <tr>
        <th>
            Data
        </th>
        <th>
            Created On
        </th>
    </tr>

@foreach (var c in Model.Comments)
{
    <tr>
        <td>
            @c.Data
        </td>
        <td>
            @String.Format("{0:g}", c.CreatedOn)
        </td>
    </tr>
}

</table>
        
    }

</div>